*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
html{
  font-size: 62.5%;
}
body{
  height: 100vh;
  background:black;
  color: white;
  font-family: 'Poppins', sans-serif;
}